<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
    repudiandae quo? Dolorum quisquam eligendi fugiat ipsam labore sed quo vel.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Amin Sheikh Sajadieh</h3>
        <p class="quote__organization">Aghigh Company</p>
      </div>
    </div>
  </footer>
</blockquote>
